body {
  background-image: url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 700px;
  margin: 30px auto;
}

.App footer {
  font-size: 13px;
  text-align: right;
  margin: 20px 0;
}

.App footer a {
  text-decoration: none;
  color: #ff9f63;
  font-weight: bold;
}
