body {
  background-color: transparent;
}

.Weather {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 16px;
  margin: 30px auto;
  max-width: 700px;
  color: #f5f5f5;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0 0 0;
  line-height: 32px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #eeeeee;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  list-style: none;
  padding: 0;
}

.Weather canvas {
  margin-right: 10px;
  padding-left: 20px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 500;
  color: #f5f5f5;
  font-size: 65px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  color: #d1d5db;
  line-height: 1;
}
